<h2>  <%= @event.title%>
</h2>

This event was created by  <b><%= @event.creator.name.capitalize %></b>
<br>
<% if @invited.empty? %>
No invitations have been made



<% else %>
The following people will be attending:
<br>
<ul>
		<% @event.attendees.each do |attendee| %>
		<li><%= attendee.name %> </li>
		<% end %>
	</ul>	
	
	<% end %>
	
	<% if @checked %>
<%= form_for(@invitation) do |f| %>
	<%= f.hidden_field :attended_event_id, value: @event.id %>
	<%= f.hidden_field :host_id, value: @current_user.id %>
	<%= f.label :attendee_id, 'Invite:' %>
	<%= f.select :attendee_id, options_for_select(@users.map do |user|
	                           [user.name, user.id]
				                   end),
	{ :prompt => 'Select friend' } %>
	<%= f.submit 'Invite' %>
<% end %>
<% end %>